* {
  box-sizing: border-box;
  background-color: #232946;
  color: #b8c1ec;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

input {
  background-color: #fffffe;
}

.generate {
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 15px;
  background: #eebbc3;
  padding: 8px 16px;
  text-rendering: auto;
  color: #232946;
  display: inline-block;
  text-align: start;
  margin: 10px 0 0 0;
  font: 400 16px inherit;
  min-width: 100px;

  &:hover {
    background-color: #e9a4b1;
    border: #E79DAB;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    background: aqua;
    box-shadow: 0 0 0 1px aqua;
  }
}